* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

main {
  margin: 60px auto;
  width: 580px;
  word-wrap: break-word;
}

main * {
  max-width: 580px;
}

h1,
h2 {
  font-weight: 100;
}

h3 {
  font-weight: 600;
}

iframe {
  border: solid 1px black;
}

small {
  font-size: 12px;
}

section > p {
  font-size: 20px;
  line-height: 35px;
}

p > sup {
  font-size: small;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0;
    display: flex;
  }
}