* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.75);
  margin: 0;
  font-family: sans-serif;
}

main {
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  margin: 0 auto;
  padding: 5vmin;
  width: 50vw;
  word-wrap: break-word;
}

main * {
  max-width: 50vw;
}

h1,
h2 {
  font-weight: 100;
}

h3 {
  font-weight: 600;
}

iframe {
  border: solid 1px black;
  width: 100%;
}

small {
  font-size: 12px;
}

section > p,
blockquote {
  font-size: 20px;
  line-height: 35px;
}

blockquote {
  font-style: italic; 
}

p > sup {
  font-size: small;
}

@media only screen and (max-width: 1000px) {
  main {
    border: none;
    width: 100%;
  }

  main * {
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0;
    display: flex;
  }
}